.upload-container {
  padding: 20px;
  text-align: center;
}

.drop-zone {
  margin-top: 20px;
  border: 2px dashed #2daae1;
  border-radius: 12px;
  padding: 40px;
  background: #f4f9fc;
}

ion-content {
  height: 500px;
}